page-venues {

  ion-content {
    background-color: #dadada !important;
    color:green !important;
  }

  ion-item {
    background-color: #fff !important;
  }

  h2 {
    color:green !important;
    font-weight: bold !important;
  }

}
